
html {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#quoteDiv {
    height: 40%;
    width: 85%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 4px 4px 12px #8c9496;
}

#quoteText {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    max-width: 90%;
    border-radius: 5px;
    font-family: 'Cormorant SC', serif;
    font-size: 6vh;
}

#quoteAuthor {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    float: right;
    margin: 30px 0 0 0;
    padding: 0 10px 0 10px;
    font-family: 'Homemade Apple', cursive;
    border-radius: 5px;
    font-size:3.5vh;
}

#buttonWrapper {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

#quoteButton {
    display: inline-block;
    font-family: 'Galada', cursive;
    font-size: 26px;
    border-radius: 15px;
    -webkit-animation: glowing 3500ms infinite;
    -moz-animation: glowing 3500ms infinite;
    -o-animation: glowing 3500ms infinite;
    animation: glowing 3500ms infinite;
}

.responsiveImg {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/************************** Webkit Button Glow CSS **********************************/
@-webkit-keyframes glowing {
    0% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 6px #FFFFFF; }
    50% { background-color: #faea82; -webkit-box-shadow: 0 0 60px #faea82; }
    100% { background-color: #FFFFFF; -webkit-box-shadow: 0 0 6px #FFFFFF; }
}

@-moz-keyframes glowing {
    0% { background-color: #FFFFFF; -moz-box-shadow: 0 0 6px #FFFFFF; }
    50% { background-color: #faea82; -moz-box-shadow: 0 0 60px #faea82; }
    100% { background-color: #FFFFFF; -moz-box-shadow: 0 0 6px #FFFFFF; }
}

@-o-keyframes glowing {
    0% { background-color: #FFFFFF; box-shadow: 0 0 6px #FFFFFF; }
    50% { background-color: #faea82; box-shadow: 0 0 60px #faea82; }
    100% { background-color: #FFFFFF; box-shadow: 0 0 6px #FFFFFF; }
}

@keyframes glowing {
    0% { background-color: #FFFFFF; box-shadow: 0 0 6px #FFFFFF; }
    50% { background-color: #faea82; box-shadow: 0 0 60px #faea82; }
    100% { background-color: #FFFFFF; box-shadow: 0 0 6px #FFFFFF; }
}